@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #191B1D;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.1875;
  background-color: #F1EFEC;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 82.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.2083333333;
  margin-bottom: 1.25rem;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.2115384615;
}

h3 {
  font-family: "Inter", sans-serif;
  line-height: 1.21875;
  text-align: center;
  margin-bottom: 0.625rem;
  font-weight: 700;
}

h3 span._coral {
  color: #F5857D;
}

h3 span._teal {
  color: #76CDC3;
}

a,
p,
span,
b,
div {
  font-family: "Inter", sans-serif;
}

._link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #195DF5;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

._link:hover {
  text-decoration: underline;
}

._button {
  padding: 0.625rem 1.25rem;
  color: #F1EFEC;
  background-color: #191B1D;
  border-radius: 0.9375rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

._button:hover,
._button:focus {
  background-color: #9E9E9E;
}

._button._blue {
  background-color: #29A9EB;
}

._button._blue:hover,
._button._blue:focus {
  background-color: #195DF5;
}

._button._dark-blue {
  background-color: #195DF5;
}

._button._dark-blue:hover,
._button._dark-blue:focus {
  background-color: #29A9EB;
}

._logo {
  font-size: 1.125rem;
  font-weight: 700;
}

._logo span {
  font-size: 0.75rem;
}

._coral {
  color: #F5857D;
}

._teal {
  color: #76CDC3;
}

._image_descr {
  position: absolute;
}

._image_descr span {
  font-weight: 700;
  font-size: 0.75rem;
  color: #F1EFEC;
  border-radius: 0.25rem;
  padding: 0.3125rem 0.625rem;
  position: relative;
}

._image_descr span::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

._image_descr._coral span {
  background-color: #F5857D;
}

._image_descr._coral span::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27 viewBox=%270 0 24 24%27%3E%3Cpath fill=%27%23F5857D%27 fill-rule=%27evenodd%27 d=%27M23.872 21.78C23.357 20.353 15.614.826 15.494.651c-.179-.262-.58-.535-.905-.615a1.7 1.7 0 0 0-1.02.103c-.288.127-.675.493-.787.745-.044.1-.632 2.23-1.307 4.733-.675 2.504-1.243 4.568-1.263 4.588-.02.02-2.052.579-4.515 1.241-2.463.663-4.58 1.242-4.704 1.288-.306.111-.714.507-.85.827a2.146 2.146 0 0 0-.138.545 1.597 1.597 0 0 0 .652 1.386c.213.146 20.996 8.36 21.429 8.468.488.123 1.073-.05 1.453-.43.467-.468.581-1.065.333-1.752Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E");
}

._image_descr._teal span {
  background-color: #76CDC3;
}

._image_descr._teal span::after {
  background-image: url("data:image/svg+xml,%3Csvg width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M23.8721 21.7794C23.357 20.3537 15.6137 0.826948 15.4942 0.652143C15.3152 0.390485 14.9132 0.117471 14.5888 0.0373223C14.2845 -0.037873 13.8806 0.00270136 13.5697 0.139684C13.2806 0.267061 12.8939 0.633081 12.7824 0.884933C12.7381 0.984993 12.1498 3.11508 11.4751 5.61843C10.8003 8.12174 10.2319 10.1862 10.2119 10.2061C10.192 10.226 8.16033 10.7846 5.69708 11.4474C3.23383 12.1102 1.11716 12.6894 0.993411 12.7346C0.687162 12.8463 0.279432 13.2424 0.14207 13.5617C0.0810713 13.7034 0.0194715 13.9487 0.00515876 14.1067C-0.0414283 14.6203 0.231643 15.2009 0.656888 15.4925C0.870412 15.6389 21.6533 23.8521 22.0856 23.9609C22.5736 24.0838 23.1587 23.9105 23.5392 23.5303C24.0065 23.0634 24.1201 22.4658 23.8721 21.7794Z%27 fill=%27%2376CDC3%27/%3E%3C/svg%3E");
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F1EFEC;
  z-index: 10;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-open .menu__body {
  top: 3.125rem;
  background-color: #F1EFEC;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.menu__link {
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__link:hover,
.menu__link:focus {
  color: #9E9E9E;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.footer ._label {
  display: block;
}

.footer__text {
  max-width: 33.5625rem;
  width: 100%;
}

.footer__text ._logo {
  display: block;
  margin-bottom: 0.625rem;
  font-size: 2rem;
}

.footer__text ._logo span {
  font-size: 1rem;
}

.footer__text p {
  color: #A6A6A6;
  margin-bottom: 1.875rem;
}

.footer__copy {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #8B8B8B;
  display: block;
}

.footer__img {
  max-width: 315px;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.intro__content {
  max-width: 33.75rem;
  width: 100%;
}

.intro__content p {
  margin-bottom: 2.5rem;
}

.intro__image {
  width: 100%;
  max-width: 40.1875rem;
  position: relative;
}

.intro__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__image ._image_descr._coral {
  left: -6.75rem;
  bottom: 4.3125rem;
}

.intro__image ._image_descr._coral span::after {
  right: -1.125rem;
  top: -1.25rem;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.intro__image ._image_descr._teal {
  left: -4.9375rem;
  top: -0.8125rem;
}

.intro__image ._image_descr._teal span::after {
  right: -1.125rem;
  bottom: -1.25rem;
}

.page.design .intro b {
  margin-bottom: 0.625rem;
  display: block;
}

.page.design .intro p {
  margin-bottom: 2.5rem;
}

.page.design .intro__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125rem;
}

.page.design .intro__skill {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  position: relative;
  -webkit-filter: drop-shadow(0px 7.24138px 12.069px rgba(0, 0, 0, 0.29));
          filter: drop-shadow(0px 7.24138px 12.069px rgba(0, 0, 0, 0.29));
}

.page.design .intro__skill[title]:hover::after {
  font-family: "Inter", sans-serif;
  content: attr(title);
  position: absolute;
  right: -50%;
  bottom: -3.125rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7.24138px 12.069px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 7.24138px 12.069px rgba(0, 0, 0, 0.29);
  border-radius: 0.3125rem;
  padding: 0.625rem;
  font-weight: 700;
  color: #191B1D;
}

.page.design .intro__skill:nth-child(2) {
  -webkit-transform: translateX(-1.375rem);
      -ms-transform: translateX(-1.375rem);
          transform: translateX(-1.375rem);
}

.page.design .intro__skill:nth-child(3) {
  -webkit-transform: translateX(-2.75rem);
      -ms-transform: translateX(-2.75rem);
          transform: translateX(-2.75rem);
}

.page.design .intro__skill:nth-child(4) {
  -webkit-transform: translateX(-4.125rem);
      -ms-transform: translateX(-4.125rem);
          transform: translateX(-4.125rem);
}

.page.design .intro__skill:nth-child(5) {
  -webkit-transform: translateX(-5.5rem);
      -ms-transform: translateX(-5.5rem);
          transform: translateX(-5.5rem);
}

.page.design .intro__image {
  max-width: 24.9375rem;
}

.page.design .intro__buttons {
  gap: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page.reallife .intro h3 {
  text-align: left;
}

.page.reallife .intro__image {
  border-radius: 16px;
  overflow: hidden;
}

.page.reallife .intro__content {
  max-width: 100%;
  padding: 2.5rem 0 0 0;
}

.service ._label {
  display: block;
  margin: 0 auto 1.25rem;
}

.service__image {
  position: relative;
  width: 13.75rem;
  height: 13.75rem;
  border-radius: 50%;
  margin: 2.5rem auto;
}

.service__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.service__image ._image_descr._coral {
  left: -6.0625rem;
  top: 1rem;
}

.service__image ._image_descr._coral span::after {
  right: -1.125rem;
  bottom: -1.25rem;
}

.service__image ._image_descr._teal {
  right: -6.0625rem;
  top: 1rem;
}

.service__image ._image_descr._teal span::after {
  left: -1.125rem;
  bottom: -1.25rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.service h3,
.service p,
.service ._label {
  text-align: center;
  max-width: 33.75rem;
}

.service h3 {
  margin: 0 auto 0.625rem;
}

.service p {
  margin: 0 auto;
}

.service__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .info__bg{
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../img/info/community-bg.jpg"); }

.no-webp .info__bg{
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/info/community-bg.jpg"); }

.no-webp .info__bg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/info/community-bg.jpg"); }

.info__bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info__wrapper {
  position: relative;
  overflow: hidden;
  padding: 10.625rem 3.5625rem 3.875rem;
  height: 100%;
  width: 100%;
}

.info__text {
  margin-left: auto;
  max-width: 37.9375rem;
  width: 100%;
  color: #fff;
}

.info__text h2 {
  margin-bottom: 1.4375rem;
}

.info__text p {
  margin-bottom: 2.0625rem;
}

.no-webp .page.design .info__bg, .no-webp .page.reallife .info__bg{
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../img/info/behance-bg.jpg"); }

.no-webp .page.design .info__bg, .no-webp .page.reallife .info__bg{
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/info/behance-bg.jpg"); }

.no-webp .page.design .info__bg, .no-webp .page.reallife .info__bg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/info/behance-bg.jpg"); }

.page.design .info__bg,
.page.reallife .info__bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects h3 {
  text-align: left;
}

.projects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__img {
  max-width: 42.5rem;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.projects__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__info {
  text-align: left;
}

.projects__info p {
  margin-bottom: 1.875rem;
}

.projects__date {
  margin-bottom: 1.25rem;
  display: block;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.error__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.error__img {
  max-width: 47.375rem;
  width: 100%;
}

.error__img img {
  width: 100%;
}

.descr__wrapper {
  margin: 0 auto;
  max-width: 46.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.descr__item {
  text-align: left;
  width: 100%;
}

.descr__item p {
  margin-bottom: 1.875rem;
}

.descr__item h3 {
  text-align: left;
  margin-bottom: 1.25rem;
}

.descr__img {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.descr__img img {
  width: 100%;
}

@media (min-width: 74.99875em) {
  .error__text {
    position: absolute;
    text-align: right;
    bottom: 5%;
    left: -18%;
  }
}

@media (min-width: 85em) {
  h1 {
    font-size: 4.5rem;
  }

  h1 span {
    font-size: 2rem;
  }

  h2 {
    font-size: 3.25rem;
  }

  h3 {
    font-size: 2rem;
  }

  ._label {
    margin-bottom: 1.25rem;
  }

  section {
    padding-top: 4.375rem;
  }

  section {
    padding-bottom: 4.375rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 3.125rem;
  }

  .footer__copy {
    margin-top: 6.25rem;
  }

  .intro {
    padding-top: 7.5rem;
  }

  .info__wrapper {
    border-radius: 1rem;
  }

  .info__wrapper {
    padding-left: 3.5625rem;
  }

  .info__wrapper {
    padding-right: 3.5625rem;
  }

  .info__wrapper {
    padding-bottom: 3.875rem;
  }

  .projects__items {
    gap: 5.625rem;
  }

  .projects__item {
    gap: 2.5rem;
  }

  .descr__wrapper {
    gap: 5.625rem;
  }
}

@media (max-width: 85em) {
  .intro__image ._image_descr._coral {
    display: none;
  }

  .intro__image ._image_descr._teal {
    display: none;
  }
}

@media (max-width: 20em) {
  h1 {
    font-size: 2rem;
  }

  h1 span {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  ._label {
    margin-bottom: 0.625rem;
  }

  section {
    padding-top: 1.875rem;
  }

  section {
    padding-bottom: 1.875rem;
  }

  .header {
    padding-top: 0.625rem;
  }

  .header {
    padding-bottom: 0.625rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 2.1875rem;
  }

  .footer__copy {
    margin-top: 3.125rem;
  }

  .intro {
    padding-top: 3.75rem;
  }

  .info__wrapper {
    border-radius: 1.625rem;
  }

  .info__wrapper {
    padding-left: 1.25rem;
  }

  .info__wrapper {
    padding-right: 1.25rem;
  }

  .info__wrapper {
    padding-bottom: 1.875rem;
  }

  .projects__items {
    gap: 2.5rem;
  }

  .projects__item {
    gap: 0.9375rem;
  }

  .descr__wrapper {
    gap: 2.5rem;
  }
}

@media (max-width: 74.99875em) {
  .error__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px;
  }

  .error__text {
    text-align: center;
  }
}

@media (max-width: 61.99875em) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.75rem;
  }

  .page.design .intro__content {
    max-width: 100%;
  }

  .page.design .intro__image {
    display: none;
  }

  .page.reallife .intro__content {
    padding: 0;
  }

  .projects__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .projects__info {
    max-width: 42.5rem;
    width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: absolute;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    top: -100vh;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    padding: 3.125rem 1.25rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__text {
    max-width: 100%;
  }

  .footer__img {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .page.design .intro__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.3125rem;
  }

  .service__image ._image_descr._coral {
    left: -2.5rem;
    top: -1.25rem;
  }

  .service__image ._image_descr._teal {
    right: -2.5rem;
    top: -1.25rem;
  }

  .service__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 24.99875em) {
  .page.design .info__bg,
  .page.reallife .info__bg {
    background-position: 6%;
  }
}

@media (min-width: 20em) and (max-width: 85em) {
@supports (font-size: clamp( 2rem , 1.2307692308rem  +  3.8461538462vw , 4.5rem )) {
    h1 {
      font-size: clamp( 2rem , 1.2307692308rem  +  3.8461538462vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.2307692308rem  +  3.8461538462vw , 4.5rem )) {
    h1 {
      font-size: calc(2rem + 2.5 * (100vw - 20rem) / 65);
    }
}

@supports (font-size: clamp( 1rem , 0.6923076923rem  +  1.5384615385vw , 2rem )) {
    h1 span {
      font-size: clamp( 1rem , 0.6923076923rem  +  1.5384615385vw , 2rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.6923076923rem  +  1.5384615385vw , 2rem )) {
    h1 span {
      font-size: calc(1rem + 1 * (100vw - 20rem) / 65);
    }
}

@supports (font-size: clamp( 1.75rem , 1.2884615385rem  +  2.3076923077vw , 3.25rem )) {
    h2 {
      font-size: clamp( 1.75rem , 1.2884615385rem  +  2.3076923077vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.2884615385rem  +  2.3076923077vw , 3.25rem )) {
    h2 {
      font-size: calc(1.75rem + 1.5 * (100vw - 20rem) / 65);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3461538462rem  +  0.7692307692vw , 2rem )) {
    h3 {
      font-size: clamp( 1.5rem , 1.3461538462rem  +  0.7692307692vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3461538462rem  +  0.7692307692vw , 2rem )) {
    h3 {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 65);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem )) {
    ._label {
      margin-bottom: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem )) {
    ._label {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 65);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.375rem )) {
    section {
      padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.375rem )) {
    section {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 65);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.375rem )) {
    section {
      padding-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1057692308rem  +  3.8461538462vw , 4.375rem )) {
    section {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 65);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem )) {
    .header {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 65);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4326923077rem  +  0.9615384615vw , 1.25rem )) {
    .header {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 65);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.6826923077rem  +  0.9615384615vw , 2.5rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 1.6826923077rem  +  0.9615384615vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.6826923077rem  +  0.9615384615vw , 2.5rem )) {
    .footer {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 65);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 1.8990384615rem  +  1.4423076923vw , 3.125rem )) {
    .footer {
      padding-bottom: clamp( 2.1875rem , 1.8990384615rem  +  1.4423076923vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 1.8990384615rem  +  1.4423076923vw , 3.125rem )) {
    .footer {
      padding-bottom: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 65);
    }
}

@supports (margin-top: clamp( 3.125rem , 2.1634615385rem  +  4.8076923077vw , 6.25rem )) {
    .footer__copy {
      margin-top: clamp( 3.125rem , 2.1634615385rem  +  4.8076923077vw , 6.25rem );
    }
}

@supports not (margin-top: clamp( 3.125rem , 2.1634615385rem  +  4.8076923077vw , 6.25rem )) {
    .footer__copy {
      margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 65);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.5961538462rem  +  5.7692307692vw , 7.5rem )) {
    .intro {
      padding-top: clamp( 3.75rem , 2.5961538462rem  +  5.7692307692vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.5961538462rem  +  5.7692307692vw , 7.5rem )) {
    .intro {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 65);
    }
}

@supports (border-radius: clamp( 1rem , 1.8173076923rem  +  -0.9615384615vw , 1.625rem )) {
    .info__wrapper {
      border-radius: clamp( 1rem , 1.8173076923rem  +  -0.9615384615vw , 1.625rem );
    }
}

@supports not (border-radius: clamp( 1rem , 1.8173076923rem  +  -0.9615384615vw , 1.625rem )) {
    .info__wrapper {
      border-radius: calc(1.625rem + -0.625 * (100vw - 20rem) / 65);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.5384615385rem  +  3.5576923077vw , 3.5625rem )) {
    .info__wrapper {
      padding-left: clamp( 1.25rem , 0.5384615385rem  +  3.5576923077vw , 3.5625rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.5384615385rem  +  3.5576923077vw , 3.5625rem )) {
    .info__wrapper {
      padding-left: calc(1.25rem + 2.3125 * (100vw - 20rem) / 65);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.5384615385rem  +  3.5576923077vw , 3.5625rem )) {
    .info__wrapper {
      padding-right: clamp( 1.25rem , 0.5384615385rem  +  3.5576923077vw , 3.5625rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.5384615385rem  +  3.5576923077vw , 3.5625rem )) {
    .info__wrapper {
      padding-right: calc(1.25rem + 2.3125 * (100vw - 20rem) / 65);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.875rem )) {
    .info__wrapper {
      padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2596153846rem  +  3.0769230769vw , 3.875rem )) {
    .info__wrapper {
      padding-bottom: calc(1.875rem + 2 * (100vw - 20rem) / 65);
    }
}

@supports (gap: clamp( 2.5rem , 1.5384615385rem  +  4.8076923077vw , 5.625rem )) {
    .projects__items {
      gap: clamp( 2.5rem , 1.5384615385rem  +  4.8076923077vw , 5.625rem );
    }
}

@supports not (gap: clamp( 2.5rem , 1.5384615385rem  +  4.8076923077vw , 5.625rem )) {
    .projects__items {
      gap: calc(2.5rem + 3.125 * (100vw - 20rem) / 65);
    }
}

@supports (gap: clamp( 0.9375rem , 0.4567307692rem  +  2.4038461538vw , 2.5rem )) {
    .projects__item {
      gap: clamp( 0.9375rem , 0.4567307692rem  +  2.4038461538vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.4567307692rem  +  2.4038461538vw , 2.5rem )) {
    .projects__item {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 65);
    }
}

@supports (gap: clamp( 2.5rem , 1.5384615385rem  +  4.8076923077vw , 5.625rem )) {
    .descr__wrapper {
      gap: clamp( 2.5rem , 1.5384615385rem  +  4.8076923077vw , 5.625rem );
    }
}

@supports not (gap: clamp( 2.5rem , 1.5384615385rem  +  4.8076923077vw , 5.625rem )) {
    .descr__wrapper {
      gap: calc(2.5rem + 3.125 * (100vw - 20rem) / 65);
    }
}
}

.webp .info__bg{ background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url(../img/info/community-bg.webp); }

.webp .info__bg{ background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/info/community-bg.webp); }

.webp .info__bg{ background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/info/community-bg.webp); }

.webp .page.design .info__bg, .webp .page.reallife .info__bg{ background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url(../img/info/behance-bg.webp); }

.webp .page.design .info__bg, .webp .page.reallife .info__bg{ background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/info/behance-bg.webp); }

.webp .page.design .info__bg, .webp .page.reallife .info__bg{ background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../img/info/behance-bg.webp); }